html {
    /* background-color: #d4d6d5; */
    background-image: url('assets/bg.png');
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
}

.greeting {
    margin-top: 300px;
    color: #b69b7d ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.rebthereze {
    color: #393d3a;
    margin-top: 0px; 
    font-size: 100px;
    /* text-align: center; */
    line-height: 80px;
    font-family: 'Bodoni Moda', serif;
}

.desc_one {
    color: #3f5843 ;
    margin: 200px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    border: 2px solid #b69b7d;
    padding: 20px;
}